body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:704px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1220 {
  position:absolute;
  left:404px;
  top:133px;
  width:300px;
  height:580px;
  font-size:20px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u1222 {
  position:absolute;
  left:158px;
  top:184px;
  width:48px;
  height:50px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
